*{
    padding: 0;
    margin: 0;
}



p{
    font-size: 15px;
}

h3{
    font-size: 20px;
}

#button{
    margin-top: 25px;
    background-color: #0F5959;
    color: white;
    font-family: 'Julius Sans One', 'Lucida Sans', sans-serif;
    padding: 10px 60px;
    border: 2px solid #0F5959;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#button:hover{
    background-color: #ffffff;
    color: black;
}

body{
    background: url(images/backgroundAll.png);
    background-color: #EDEDED;
    font-family: 'Julius Sans One', 'Lucida Sans';

}

#topNav{
    height: 50px;
    text-align: center;
    background-color: #051D1D;
    
}

#creditcardno{
    border-color: #051D1D;
    border-style: solid;
    
}

#reserveDiv{
    height: 465px;
    width: 1200px;
    background-color: #F4F4F4;
    border-color: #0F5959;
    border-style: solid;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 75px;
    margin-top: 500px;
    border-radius: 10px;
}

#chooseARoom, #chckin, #chckout, #numberOfGuest, #numberOfRooms, #creditCard{
    background-color: red;
    width: 400px;
    height: 90px;
    float: left;
    background-color: #f4f4f4;
    border-radius: 5px;
    border-color: #0F5959;
    border-style: solid;
    margin-left: 130px;
    margin-top: 30px;
}

#choose, #checkin, #noguest, #norooms, #creditcardno{
    margin-top: 10px;
    text-align: center;
    
}

#dropdown2{
    text-align: center;
    color: #000000;
    border: hidden;
    background-color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: solid;
    border-color: #0F5959;
    width: 190px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Lucida Sans';
    margin-top: -1px;    
    text-align: center;
}

#dropdown3{
    text-align: center;
    color: #000000;
    border: hidden;
    background-color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: solid;
    border-color: #0F5959;
    width: 190px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Lucida Sans';
    margin-top: -1px;    
    text-align: center;
}

#forLogo{
    height: 130px;
    width: 190px;
    background-color: #6C8672;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 50px;
    box-shadow: 0px 0px 30px black;
    text-align: center;
}

#forFooter{
    height: 70px;
    background-color: #1D1C1C;
    text-align: center;
    font-size: 16px;
}

#forFooter p{
    padding-top: 30px;
    color: #ffffff;
}

input{
    border-width: 1.25px;
    border-top-color: darkgrey;
    border-left-color: darkgrey;
    border-right-color: darkgrey;
    border-bottom-color: darkgrey;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Lucida Sans';
    margin-left: 10px;
    background-color: #F4F4F4;
}

#lowerNav{
    height: 65px;
    background-color: #0F5959;
}

#AMBIENCE{
    margin-left: 320px;
}

#divLogin{
    margin-top: 225px;
    height: 700px;
    background-color: #ECECEC;
    text-align: center;
}

#intro{
    padding-top: 70px;
}

#kerorologo{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 16px;
    margin-top: -40px;
}

#myAccount{
    margin-top: 210px;
    padding-left: 40px;
    color: #ffffff;
    font-size: 40px;
    width: 400px;
}

#marc{
    font-size: 16px;
}

#dropdown{
    text-align: center;
    padding: 1px;
    color: #ffffff;
    border: hidden;
    padding-top: 0px;
    width: 165px;
    border-radius: 5px;
    font-size: 16px;
    text-align: right;
    background-color: #051D1D;
    font-family: 'Julius Sans One', 'Lucida Sans';
    margin-top: -1px;
}

#topNav li{
    margin-top: 16px;
}




/*LINKS*/
a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

ul{
    padding-left: 100px;
}

a:hover, a.on{
    color: #D5921D;
}

li{
    display: inline-block;
    margin: 0px 33px;
}

ul{
    text-align: right;
}

#topNav li{
    margin-top: 16px;
    float: right;    
}

#lowerNav li{
    margin-top: 23px;
    float: left;    
}



