/*ALL*/
/****************************************************/
*{
    padding: 0;
    margin: 0;
}

body{
    background: url(images/tobe1.jpeg);
    position: relative;
    background-size: cover;
    background-color: #EDEDED;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Julius Sans One', sans-serif;
    
    background: url(images/trivago-for-flights.jpg);
    position: relative;
    background-size: cover;
    background-color: #EDEDED;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Julius Sans One', sans-serif;
}





/*DIVS*/
/****************************************************/
#topNav{
    height: 50px;
    text-align: center;
    background-color: #051D1D;
}

#lowerNav{
    height: 65px;
    background-color: #0F5959;
}

#forReservation{
    margin-top: 300px;
    height: 500px;
    background-color: #EDEDED;
    text-align: center;
}

#para{
    margin-left: 160px;
    margin-right: 160px;
    line-height: 1.75;
}

#forAbout{
    margin-top: 300px;
    height: 500px;
    background-color: #EDEDED;
    text-align: center;
}


#kerorologo{
    position: fixed;
    top: 0px;
    left: 0px;
    margin-left: 65px;
    margin-top: -40px;
}

#smoothPic{
    padding-right: 125px;
    padding-top: 125px;
    top: 0px;
    left: 0px;
    float: right;
    border-style: solid;
    border-color: #534636;
    border-right: hidden;
    border-top: hidden;
    border-bottom: hidden;
    width: 1444px;
    height: 375px;
    background-color: #534636;
    padding-left: 45px;
}

#forLogo{
    height: 130px;
    width: 190px;
    background-color: #6C8672;
    float: left;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-left: 50px;
    box-shadow: 0px 0px 30px black;
}

#theMiddle{
    position: relative;
    top: 0px;
    left: 0px;
    width: 410px;
    height: 50px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 5px;
    word-spacing: 2px;
    text-align: center;
    background-color: gray;
}

#theMiddle2{
    position: relative;
    top: 0px;
    left: 0px;
    width: 410px;
    height: 50px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 5px;
    word-spacing: 2px;
    text-align: center;
    background-color: gray;
}

#theMiddle3{
    position: relative;
    top: 0px;
    left: 0px;
    width: 410px;
    height: 50px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 5px;
    word-spacing: 2px;
    text-align: center;
    background-color: gray;
}


#dropdown{
    text-align: center;
    padding: 2px;
    color: #ffffff;
    border: hidden;
    padding-top: 1px;
    width: 165px;
    border-radius: 5px;
    font-size: 16px;
    text-align: right;
    background-color: #051D1D;
    font-family: 'Julius Sans One';
}

#hotelOffers{
    padding-top: 50px;
    font-size: 15px;
    color: #ffffff;
}

#offer1, #offer2, #offer3, #offer4, #offer5, #offer6, #offer7, #offer8{
    margin-top: 100px;
    margin-left: 11px;
    width: 150px;
    height: 200px;
    float: left;
    border-radius: 5px;
    background-color: #7A2647;
    border-color: #ffffff;
    border-style: solid;
}

#offer1 h4, #offer2 h4, #offer3 h4, #offer4 h4, #offer5 h4, #offer6 h4, #offer7 h4, #offer8 h4{
    padding-top: 50%;
    color: #ffffff;
}

#offer1 p, #offer2 p, #offer3 p, #offer4 p, #offer5 p, #offer6 p, #offer7 p, #offer8 p{
    color: #ffffff;
}



#betweenOffers{
    text-align: justify;
    height: 300px;
    margin-top: 30px;
    width: 1200px;
    z-index: 15%;
    margin-right: auto;
    margin-left: auto;
    border-color: red;
    border-style: solid;
}

.mySlides {display:none;}

.lefty{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}


h4{
    font-size: 15px;
}

#theMiddleTag{
    padding-top: 15px;
    color: #ffffff;
}

#theMiddleTag2{
    padding-top: 15px;
    color: #ffffff;
}

#theMiddleTag3{
    padding-top: 15px;
    color: #ffffff;
}

#forFooter{
    margin-top: 600px;
    height: 70px;
    background-color: #1D1C1C;
    text-align: center;
}

#forFooter p{
    padding-top: 30px;
    color: #ffffff;
}

#forLocation{
    margin-top: 300px;
    height: 500px;
    background-color: #EDEDED;
    text-align: center;
}

#forOffers{
    margin-top: 300px;
    height: 500px;
    background-color: #7A2647;
    text-align: center;
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color:  color: red;
}

#imgIntro{
    padding-top: 20px;
}


#loc, #loc h2{
    float: left;
    font-size: 20px;
    padding-top: 125px;
    text-align: right;
    padding-left: 200px;
    color: #534636;
    border-style: solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    margin-left: 20px;
    border-bottom-color: #534636;
}






/*LINKS*/
/****************************************************/
a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

ul{
    padding-left: 100px;
}

a:hover, a.on{
    color: #D5921D;
}

li{
    display: inline-block;
    margin: 0px 30px;
}

ul{
    text-align: right;
}

#topNav li{
    margin-top: 16px;
}

#lowerNav li{
    margin-top: 23px;
    float: left;
    padding-left: 10px;
}

#marc a{
    color: black;   
}

#marc{
    font-size: 16px;
}

#loginNav{
    padding-right: 35px;
}





/*EYCHES AND PS*/
/****************************************************/

#AMBIENCE{
    margin-left: 320px;
}


#forLoginDiv h2{
    padding-top: 50px;
}

#forReservation h2{
    font-size: 35px;
    margin-top: 5px;
    padding-top: 5px;
}

#forReservation p{
    padding-top: 25px;
}

p{
    font-size: 16px;
}




/*OTHERS*/
/****************************************************/
